<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 이 XML의 구조대로 구현될 클래스의 이름 => Impl클래스를 대체한다. -->
<mapper namespace="MemberMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="member" type="com.dto.Member">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="userPw" column="user_pw" />
		<result property="nickname" column="nickname" />
		<result property="age" column="age" />
		<result property="gender" column="gender" />
		<result property="genre1" column="genre1" />
		<result property="genre2" column="genre2" />
		<result property="genre3" column="genre3" />
		<result property="regDate" column="reg_date" />
		<result property="profileImg" column="profile_img" />

	</resultMap>
		
<!-- 		다중행 조회(목록조회)를 위한 기능 정의 -->
<!-- 		<select id="메서드이름" -->
<!-- 			parameterType="파라미터로 전달될 객체의 클래스 타입" -->
<!-- 			resultMap="리턴될 Beans의 id"> -->

	<select id="selectMember"
		parameterType="com.dto.Member"
	 	resultMap="member">
		<!-- 이 안에서 처리할 SQL문을 명시한다. -->
		SELECT
			id, user_id, user_pw, nickname, age, gender,
			genre1, genre2, genre3, reg_date, profile_img
		FROM member
		ORDER BY id ASC
	</select>

</mapper>